* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(45deg, darkblue,skyblue, darkblue);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.app-name {
    padding: 10px;
    text-align: center;
    font: bold;
    font-weight: 900;
    font-size: 80px;
    color: black;
    transition: all 0.3s;
}

.sketch {
    width: 90%;
    height: 80%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools {
    visibility: hidden;
    width: 95%;
    min-height: 30px;
    height: 5%;
    text-align: center;
    background-color: black;
}

.sketch:hover .tools{
    visibility: visible;
}

.tools > div{
    font-size: 20px;
    height: 100%;
    color: white;
    display: inline;
}

.tools div:nth-child(2),:nth-child(3){
    margin-left: 4%;
}

button {
    color: transparent;
    text-shadow: 0 0 0 black;
    font-size: 20px;
    height: 100%;
    cursor: pointer;
}

button:hover {
    text-shadow: 0 0 0 white;
    background-color: gray;
}

.app-name:hover {
    color: white;
}

input{
    height: 80%;
    cursor: pointer;
}

canvas {
    width: 95%;
    height: 95%;
    background-color: white;
    border: solid black 5px;
    cursor: pointer;
}

@media all and (max-width: 600px) {
    .tools div, button {
        font-size: 15px;
    }
}